/* Edição geral */
* {
    padding: 0; /* Removendo todo o espaçamento interno da página. */
    margin: 0; /* Removendo todas as margens da página. */
}

/* Cabeçalho */
header {
    display: flex; /* Deixando o container flexível. */
    justify-content: space-between; /* Distribuindo o espaço uniformente entre os itens. */
    align-items: end; /* Alinhando os itens ao final do header. */
    background-color: #1a1a1a; /* Cor de fundo. */
    color: white; /* Cor do texto. */
    text-align: center; /* Alinhando texto ao centro  */
}

/* Link dentro da Classe logo. */
header .logo a {
    margin: 0 9px; /* Adcionando margem lateral ao link. */
    display: inline-block; /* Faz o link comportar-se como um bloco, mas alinha como um texto. */
}

/* Imagems da logo */
header .logo a img {
    max-height: 80px; /* Altura maxima para imagem da logo. */
    width: auto; /* Ajuste automatico da largura. */
}

/* Barra de navegação dentro do cabeçalho. */
header nav { 
    margin: 10px; /* Adciona uma margem a barra de navegação */
}

/* Lista ne navegação */
header nav ul {
    list-style-type: none; /* Remove os marcadores da lista. */
    padding: 0px; /* Removendo o padding padrão da lista. */
    margin: 0; /* Removendo a margem padrão da lista. */
    display: flex; /* Faz os componentes ficarem flexiveis. */
    justify-content: center; /* Centraliza os intens da lista. */
}

/* Link dentro do Cabeçalho */
header nav ul li a {
    background-color: #333; /* Cor do fundo */
    color: white; /* Cor dos links. */
    text-decoration: none; /* Remove os efeitos nos links */
    margin: 1px; /* Adciona margens laterais nos links. */
    padding: 10px; /* Adcionando espaçamento interno. */
}

/* Quando passa o mouse sobre os links. */
header nav ul li a:hover {
    background-color: black;
    color: #f0db4f; /* Cor dos links ao passar o cursor. */;
}

/* Rodapé */

