/* Edição geral */
* {
    padding: 0; /* Removendo todo o espaçamento interno da página. */
    margin: 0; /* Removendo todas as margens da página. */
    font-family: 'Open', sans-serif;
}

/* Cabeçalho */
header {
    display: flex; /* Deixando o container flexível. */
    justify-content: space-between; /* Distribuindo o espaço uniformente entre os itens. */
    align-items: end; /* Alinhando os itens ao final do header. */
    background-color: #1a1a1a; /* Cor de fundo. */
    color: white; /* Cor do texto. */
    text-align: center; /* Alinhando texto ao centro  */
}

/* Link dentro da Classe logo. */
header .logo a {
    margin: 0 9px; /* Adcionando margem lateral ao link. */
    display: inline-block; /* Faz o link comportar-se como um bloco, mas alinha como um texto. */
}

/* Imagems da logo */
header .logo a img {
    max-height: 80px; /* Altura maxima para imagem da logo. */
    width: auto; /* Ajuste automatico da largura. */
}

/* Barra de navegação dentro do cabeçalho. */
header nav { 
    margin: 10px; /* Adciona uma margem a barra de navegação */
}

/* Lista ne navegação */
header nav ul {
    list-style-type: none; /* Remove os marcadores da lista. */
    padding: 0px; /* Removendo o padding padrão da lista. */
    margin: 0; /* Removendo a margem padrão da lista. */
    display: flex; /* Faz os componentes ficarem flexiveis. */
    justify-content: center; /* Centraliza os intens da lista. */
}

/* Link dentro do Cabeçalho */
header nav ul li a {
    background-color: #333; /* Cor do fundo */
    color: white; /* Cor dos links. */
    text-decoration: none; /* Remove os efeitos nos links */
    margin: 1px; /* Adciona margens laterais nos links. */
    padding: 10px; /* Adcionando espaçamento interno. */
}

/* Quando passa o mouse sobre os links. */
header nav ul li a:hover {
    background-color: black;
    color: #f0db4f; /* Cor dos links ao passar o cursor. */;
}

/* SECTION- sobre nós */
section#sobre-nos {
    background-color: #f5f5f5; /* Adcionando cor ao fundo. */
    padding: 20px; /* Adcionando espaço insterno em todos os lados. */
    text-align: center; /* Centralizando todo o texto. */
    margin: 0 auto; /* Centraliza a seção. Ajusta as margens laterais automaticamente. */
}

/* Estilização para centralizar toda a SECTION */
section#sobre-nos h2, section#sobre-nos h4, section#sobre-nos p {
    margin-left: auto; /* Controlando a margin DIREITA automaticamente. */
    margin-right: auto; /* Controlando a margin ESQUERDA automaticamente. */
    width: 80%; /* Define a largura do conteúdo para 80% da seção */
}

/* Título da Section */
section#sobre-nos h2 {
    color: #333; /* Cor do título. */
    margin-bottom: 10px; /* Espaço abaixo do título */
}

/* Subtítulo da Section */
section#sobre-nos h4 {
    color: #666; /* Cor do título. */
    margin-bottom: 15px; /* Espaço abaixo do subtítulo. */
}

/* Texto da Section */
section#sobre-nos p {
    color: #333; /* Cor do texto. */
    line-height: 1.6; /* Espaçamento entre linhas do parágrafo. */
}

/* Section Advogados */
section#advogados {
    display: flex; /* Deixando o container Flexivel. */
    justify-content: center; /* Centralizando os itens horizontalmente. */
    flex-wrap: wrap; /*Permite os itens passarem para proxima linha quando não cabem. */
    background-color: #ffffff; /* Adcionando cor de fundo. */
    padding: 20px; /* Espaçamento interno em todos os lados. */
    text-align: center; /* Texto alinhado ao centro. */
}

/* Titulo Advogados */
section#advogados h2 {
    width: 100%; /* Garantindo que a largura do tamanho da classe. */
    color: #333; /* Cor do texto. */
    margin-bottom: 20px; /* Espaço abaixo do título. */
}

/* Conteúdo de um unico Advogado */
.advogado {
    display: inline-block; /* Alinha os advogados lado a lado. */
    margin: 10px; /* Espaçamento ao redor de cada advogado */
    width: 300px; /* Largura do perfil. */
}

/* Imagem do Advogado */
.advogado img {
    width: 100%; /* Largura da imagem para se ajustar ao container. */
    border-radius: 50%; /* Deixa a imagem circular. */
    border: 2px solid #1a1a1a;
    margin-bottom: 10px; /* Margin na parte inferior. */
}

/* Nome do Advogado */
.advogado h3 {
    color: #666; /* Cor do nome do Advogado. */
}

/* Área de atuação do advogado */
.advogado h4 {
    margin-top: 10px; /* Margem superior. */
    margin-bottom: 5px; /* Margem inferior. */
}
/* Texto da section Advogado */
.advogado p {
    color: #999; /* Cor do texto. */
    text-align: justify; /* Deixando o texto justificado. */
}

/* Rodapé */
footer {
    background-color: #1a1a1a; /* Cor do fundo. */
    color: white; /* Cor da fonte. */
    text-align: center; /* Centralizando o texto. */
    padding: 20px 0; /* Espaçamento no topo e na base. */
}

/* Parágrafo dentro do Rodapé */
footer p {
    margin: 0 0 10px; /* Margem na base do parágrafo. */
}

/* Classe dos ícones */
footer .social-icons {
    display: flex; /* Deixando o container flexivel. */
    justify-content: center; /* Centralizando itens. */
    gap: 20px; /* Espaçamento entre ícones. */
}

/* Links dentro da classe ícones. */
footer .social-icons a {
    display: flex; /* Transformando o container em flexivel. */
    align-items: center; /* Alinhando ícones ao centro. */
    justify-content: center; /* Centralizando os intens horizontalmente. */
    padding: 6px; /* Espaçamento interno dos ítens. */
    color: rgb(176, 176, 176); /* Cor do texto dos links. */
    
    transition: background 0.2s; /* Efeito de transição no background. Temp: 2s. */
    border-radius: 50%; /* Deixando as bordas arredondadas. */
}

/* Efeito passando o cursor sobre os links. */
footer .social-icons a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cor do fundo */
}



