<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\style.css">

    <!--Fontes-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">


    <title>Lex Lumina Advocacia</title>

</head>
<body>
    <!--Cabeçalho-->
    <header>
        <div class="logo">
            <a href=""><img src="..\static\componentsGraphics\logo.png" alt="LOGOMARCA"></a>
        </div>
        <!--Menu de navegação-->
        <nav>
            <ul>
                <li><a href="#sobre">Sobre Nós</a></li>
                <li><a href="#advogados">Advogados</a></li>
                <li><a href="#areas">Área de Atuação</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <!--Sobre Nós-->
    <section id="sobre-nos">
        <h2>Sobre Nós</h2>
        <h4>Lex Lumina Advocacia: Iluminando o Caminho da Justiça</h4>
        <p class="textSobre"> 
            Desde a sua fundação em 1995, o Lex Lumina Advocacia tem sido um farol de excelência e inovação no universo jurídico. 
            Criado pela visão ambiciosa de um grupo de advogados apaixonados pela lei e pela justiça, o escritório nasceu com a missão de
            oferecer uma abordagem mais humana e acessível à advocacia.
            <br><br>
            Situado no coração da cidade, o Lex Lumina começou como um pequeno escritório, com apenas três advogados e uma equipe de apoio 
            dedicada. Eles se concentraram inicialmente em direito civil e empresarial, atendendo principalmente pequenas empresas e indivíduos que necessitavam de orientação jurídica personalizada.   
            <br><br>
            O nome "Lex Lumina", que significa "a lei que ilumina" em latim, foi escolhido para refletir o compromisso do escritório em trazer 
            clareza e compreensão às questões legais complexas. Com esse ethos, o Lex Lumina rapidamente ganhou a confiança de seus clientes, estabelecendo-se como um parceiro confiável e eficaz na resolução de disputas legais e na prestação de aconselhamento jurídico.
            <br><br>
            Ao longo dos anos, o Lex Lumina expandiu suas áreas de especialização, incluindo direito ambiental, propriedade intelectual e 
            direito internacional, acompanhando as mudanças e desafios do mundo moderno. A equipe cresceu, atraindo advogados talentosos e dedicados, comprometidos com os valores de integridade, excelência e inovação.
            <br><br>
            Uma das marcas distintivas do Lex Lumina é a sua abordagem orientada para o cliente. Cada caso é tratado com uma atenção única, 
            buscando não apenas soluções legais eficazes, mas também a melhor forma de atender às necessidades individuais de cada cliente. O escritório é também conhecido por sua advocacia pro bono e seu compromisso com a justiça social, contribuindo para a comunidade através de diversos programas de assistência legal.
            <br><br>
           Hoje, com mais de duas décadas de experiência, o Lex Lumina Advocacia se destaca como um dos escritórios de advocacia mais 
            respeitados e inovadores, mantendo-se fiel à sua missão original de iluminar o caminho da justiça com integridade, paixão e 
            excelência.
        </p>
    </section>

    <!--Seção Advogados-->
    <section id="advogados">
        <h2>Advogados</h2>
        <div class="advogado">
            <img src="..\static\componentsGraphics\Advogada1.png" alt="Advogada1">
            <h3>Stela</h3>
            
            <h4>Especialista em Direito Civil</h4>
           
            <p>Meu nome é Stela, e sou uma advogada especializada em direito civil. Desde o início da minha carreira, dediquei-me a compreender profundamente as leis que regem as relações entre pessoas e entidades. Tornei-me uma especialista nesse campo, ajudando inúmeros clientes a resolverem questões legais complexas. Minha paixão é encontrar soluções justas para os problemas legais e ser uma defensora incansável dos direitos dos meus clientes. Minha história é uma jornada de dedicação, aprendizado contínuo e um desejo constante de fazer a diferença na vida das pessoas através do direito civil. Estou comprometida em continuar essa trajetória, ajudando aqueles que buscam a minha orientação e expertise.</p>
        </div>
        <div class="advogado">
            <img src="..\static\componentsGraphics\Advogado2.png" alt="Advogada1">
            <h3>André Silva</h3>
            
            <h4>Especialista em Direito Penal</h4>
           
            <p>Meu nome é André Silva, sou um advogado especializado em direito penal, e minha carreira é marcada por um compromisso incansável com a justiça. Desde o início, demonstrei habilidades excepcionais na defesa de meus clientes em casos complexos, abrangendo crimes variados. Minha ética profissional, minha dedicação e minha capacidade de construir estratégias de defesa sólidas me tornaram uma figura respeitada no mundo jurídico. Estou comprometido em proteger os direitos de meus clientes e assegurar que a justiça prevaleça em todos os casos que enfrento.</p>
        </div>
    </section>

    <!--Áreas de atuação do Escritório-->
    <section id="areas">
        <h2>Áreas de Atuação</h2>
        <ul>
            <a style="text-decoration: none;" href="https://www.projuris.com.br/blog/tudo-sobre-direito-civil/" target="_blank"><li>Direito Civil</li></a>
            <a style="text-decoration: none;" href="https://www.projuris.com.br/blog/direito-empresarial-3/" target="_blank"><li>Direito Empresarial</li></a>
            <a style="text-decoration: none;" href="https://www.projuris.com.br/blog/direito-penal/" target="_blank"><li>Direito Criminal</li></a>
        </ul>
    </section>

    <!--Contatos-->
    <section id="contato">
        <h2>Contato</h2>
        <!--Formulario de e-mail-->
        <form id="meuFormulario">
            
            <!--Campo NOME-->
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome">
            
            <!--Campo E-MAIL-->
            <label for="email">E-Mail:</label>
            <input type="text" id="email" name="email">
            
            <!--Campo MENSAGEM-->
            <label for="mensagem">Mensagem:</label>
            <textarea name="mensagem" id="mensagem"></textarea>
            
            <!--Botão ENVIAR-->
            <button type="submit">Enviar</button>
        </form>
    </section>
    
    <!--Rodapé-->
    <footer>
        <p>&copy; 2024 Escritório de Advocacia. Todos os direitos reservados.</p>
        <!--Link para redes sociais-->
        <div class="social-icons">
            <a href="https://www.instagram.com/suitspeacock/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="https://www.linkedin.com/in/italoxavier/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="https://www.facebook.com/SuitsPeacock" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
        </div>
        <!--Links e Informações adcionais-->
    </footer>
    
    <script src="..\static\js\validacao.js"></script>
    
    <!--Scripts Ícones-->
    <script  
        type = "module"  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"> 
    </script> 

    <script  
    nomodule  src = "https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"> 
    </script>
</body>
</html>